/* Applies to all sections */

h1, h2, h3, h4 {
    margin: 5px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

.color-01 {
    fill: #000000;
}

.color-02 {
    fill: #171717;
}

.color-03 {
    fill: #2E2E2E;
}

.color-04 {
    fill: #454545;
}

.color-05 {
    fill: #5C5C5C
}

.color-06 {
    fill: #737373;
}

.color-07 {
    fill: #8B8B8B;
}
.color-08 {
    fill: #A2A2A2;
}

.color-09 {
    fill: #B9B9B9;
}

.color-10 {
    fill: #D0D0D0;
}
.color-11 {
    fill: #E7E7E7
}

.color-error {
    fill: #f60303;
}