/* Applies to all sections */
.section {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    margin: 5px;
    padding: 5px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#fullpage {
    position: relative;
}

.gen_color {
    color: #30b4a4;
    /*color: darkgoldenrod;*/
}


/* Section 1 */
#title {
    font-size:5.5rem;
}

#subtitle {
    font-size: 4rem;
}

#section-flag svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-container {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

@keyframes fadeToWhiteFromBlue {
    from {
        fill: #195473;
    }
    to {
        fill: white;
    }
}

@keyframes fadeToWhiteFromRed {
    from {
        fill: #a02e32;
    }
    to {
        fill: white;
    }
}

/* Section 2 */
.s2_text {
    font-size: 2rem;
    padding-left: 150px;
    padding-right: 150px;
}

.extra-bold {
    font-weight: 1000;
}

/* Section 3 */
.s3_text {
    font-size: 2rem;
    padding-left: 150px;
    padding-right: 150px;
}

/* Section 4 */
.axis line,
.axis path {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}

.axis-label {
    font-size: 12px;
}

.tick text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
    font-weight: bold;
}

.y-axis path,
.y-axis line,
.y-axis .tick line {
    display: none;
}

.even {
    fill: #a02e32;
}

.odd {
    fill: lightgray;
}

.white-bar {
    outline-color: white;
}

.row.h-100 {
    height: 100%;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    height: 100%;
}

#guess-buttons {
    display: flex;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
    margin-bottom: 1rem;
}

#explanation-text {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-right: 60px;
    overflow: auto;
}


/* Section 5 */
.s5_text {
    font-size: 2rem;
    padding-left: 100px;
    padding-right: 100px;
}
.s5_text_description {
    padding-left: 350px;
    padding-right: 350px;
}
.color-01 {
    fill: #000000;
}

.color-02 {
    fill: #171717;
}

.color-03 {
    fill: #2E2E2E;
}

.color-04 {
    fill: #454545;
}

.color-05 {
    fill: #5C5C5C
}

.color-06 {
    fill: #737373;
}

.color-07 {
    fill: #8B8B8B;
}
.color-08 {
    fill: #A2A2A2;
}

.color-09 {
    fill: #B9B9B9;
}

.color-10 {
    fill: #D0D0D0;
}
.color-11 {
    fill: #E7E7E7
}

.color-error {
    fill: #f60303;
}


#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

canvas {
    margin: auto;
}


/*Section 6*/
.s6_text {
    font-size: 2rem;
    padding-left: 100px;
    padding-right: 100px;
}
.s6_text_description {
    padding-left: 350px;
    padding-right: 350px;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-1000px);
    transition: opacity 2s ease, transform 2s ease;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(1000px);
    transition: opacity 2s ease, transform 2s ease;
}

.section.active .s6_text.fade-in-left, .section.active .s6_text_description.fade-in-left {
    opacity: 1;
    transform: translateX(0);
}

.section.active .s6_text.fade-in-right, .section.active .s6_text_description.fade-in-right {
    opacity: 1;
    transform: translateX(0);
}

.section:nth-child(odd) .s6_text,
.section:nth-child(odd) .s6_text_description {
    animation: fadeInLeft 1s ease-in-out;
}

.section:nth-child(even) .s6_text,
.section:nth-child(even) .s6_text_description {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Section 7*/
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.button-container button {
    margin-right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.selected {
    background-color: #30B4A4;
    color: #fff;
}

/* Section 8 */
.s8_text {
    font-size: 2rem;
    padding-left: 150px;
    padding-right: 150px;
}

/* Section 9 */
.s9_text {
    font-size: 2rem;
    padding-left: 200px;
    padding-right: 200px;
    animation: fade-in-bottom 5s ease;
}

.section.active .s9_text.fade-in-bottom {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(500px);
    transition: opacity 2s ease, transform 2s ease;
}

.section.active .s9_text.fade-in-bottom {
    opacity: 1;
    transform: translateY(0);
}

.section:nth-child(odd) .s9_text {
    animation: fadeInBottom 1s ease-in-out;
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Section 10 */
.s10_text {
    font-size: 1.5rem;
    padding-left: 200px;
    padding-right: 200px;
}


.section.active .s10_text.fade-in-left, .section.active .s10_text_description.fade-in-left {
    opacity: 1;
    transform: translateX(0);
}

.section.active .s10_text.fade-in-right, .section.active .s10_text_description.fade-in-right {
    opacity: 1;
    transform: translateX(0);
}

.section:nth-child(odd) .s10_text,
.section:nth-child(odd) .s10_text_description {
    animation: fadeInLeft 1s ease-in-out;
}

.section:nth-child(even) .s10_text,
.section:nth-child(even) .s10_text_description {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Section 11 */
#child-slider {
    height: 400px;
    width: 500px;
    border: none;
    outline: none;
    background: none;
    margin-left: 100px;
}

#graphs {
    height: 400px;
}

.slider-track {
    stroke: black;
}

#explanation-text {
    display: none;
}


#upgraph-vis svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#upgraph-vis h1,
#upgraph-vis p {
    position: relative;
    z-index: 2;
}

#downgraph-vis svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#downgraph-vis h1,
#downgraph-vis p {
    position: relative;
    z-index: 2;
}

.s7_text {
    font-size: 1rem;
    padding-left: 100px;
    padding-right: 100px;
}

.s12_text {
    font-size: 1.5rem;
    padding-left: 100px;
    padding-right: 100px;
}